body{
    background-color:aliceblue;
    font-family: sans-serif;
}
#nav2{
    background-image: url(../img/background.png);
    background-repeat: none;
    background-size: cover;
    background-position: top;
}
h2{
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
    
 
    float: center;
}
h3{
    text-align: center;
    color: rgb(255, 255, 255);
}
a:link{
    color: rgb(180, 180, 255);
}
a:hover{
    color: crimson;
}
a:active{
    color: rgb(180, 180,255)
}
footer{
    color: aliceblue;
    text-align: center;
    background-color: rgb(21, 36, 79);
}

.container-fluid first{

    width: 100%;
}
.center {
    text-align: center;
}

.title{
    color: rgb(152, 152, 214);
    border: 3px solid black;

}

p {
    text-align: center;
    font-size: 20px;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}




.nosotros{
    color: rgb(250, 250, 250);
    font-family: sans-serif;
    }
.galeria{
    color: rgb(252, 252, 252);
    font-family: sans-serif;
}
#nav3{
    
    text-align: center;
    width: 300px;
   
}

.title2{
    text-align: center;
    color: cornflowerblue;
    font-family: sans-serif;
    
    
}
#logo{
    display: block;
    width: 100px;
}
.carousel-inner{
    width: 75px;
}
.carousel-item{
    width: 75px;
}

#carouselExampleIndicators {
    
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.Description{
   padding: 75px;

}